{%extends 'base.html'%}

{% block body %}
<div class ="container" py-40 mb-30>
<form method="post" action="/posts">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="enter your title">
      </div>
    <div class="form-group">
        <label for="subtitle">Subtitle</label>
        <input type="text" class="form-control" name="subtitle" id="subtitle" placeholder="subtitle">
      </div>
      <div class="form-group">
          <label for="intro">Intro</label>
        <input type="intro" class="form-control" name="intro" id="intro" placeholder="intro">
      </div>
      <div class="form-group">
          <label for="floatingTextarea">Post</label>
        <textarea class="form-control" placeholder="Enter post" name="body" id="floatingTextarea" style="height: 100px"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
{% endblock body %}