{%extends 'base.html'%}
{%block title%}Delete post{%endblock title%}
{% block body %}

<div style="margin-left:1%">
    <table>
    <h1>{{post.title}}</h1>
    <small>By {{post.username}} </small>
        <hr>
        <br>
        {% if i.image %}
        <img height="400px" alt="" src="{{post.image.url}}"> 
        {%endif%}
        <br>
        <br>
        {{post.body | safe}}
    </table>
</div>
<div style="margin-left:40%">         
<strong>Are you sure want to delete post!</strong>
</div>
<br>
<br>
<div style="margin-left:40%">  
<form method="POST" action=" " >
    {% csrf_token %}
    
    <br>
    <br>
    <button type="delete" class="btn btn-danger">Delete</button>       
</form>

<a href="{% url 'home' %}"><button class="btn btn-outline-info" type="Back">Back</button></a>                 
</div>  
{% endblock body %}


