{% extends 'base.html' %}
{% block title %}Edit Profile {% endblock title %}
{% block body %}

<style>


  .form-group {
    margin: 30px 200px;
  }

  .form-control {
    width: 100%;
    padding: 10px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    display: flex;
  }

  .button1 {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #174acc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }

  .button1:hover {
    background-color: #14317b
  }

  .button1:active {
    background-color: #3e5e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .button2 {
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #737a8c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }

  .button2:hover {
    background-color: #505560
  }

  .button2:active {
    background-color: #3e5e8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* The alert message box */
.alert {
  padding: 10px 10px 10px 10px;
  background-color: #dddddd; /* Red */
  color: rgb(0, 0, 0);
  margin: auto;
  width: max-content;
  height: 10%;
  align-items: center;
  justify-content: center;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(253, 253, 253);
}


</style>
{%for msg in messages%}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {{msg}}
  </div>
  {%endfor%}

  <br><br>
  <div class="container">
    <div class="form-group">
        <h1>Edit Profile Page</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            {{ user_form.username.label }}
            {{ user_form.username }}
          </div>
          <div class="form-group">
            {{ user_form.first_name.label }}
            {{ user_form.first_name }}
          </div>
          <div class="form-group">
            {{ user_form.last_name.label }}
            {{ user_form.last_name }}
          </div>
          <div class="form-group">
            {{ user_form.email.label }}
            {{ user_form.email }}
          </div>
          <div class="form-group">
            {{profile_form.bio.label}}
            {{profile_form.bio}}
          </div>
          <div class="form-group">
            {{profile_form.website_url.label}}
            {{profile_form.website_url}}
          </div>
          <div class="form-group">
            {{profile_form.fb_url.label}}
            {{profile_form.fb_url}}
          </div>
          <div class="form-group">
            {{profile_form.twitter_url.label}}
            {{profile_form.twitter_url}}
          </div>
          <div class="form-group">
            {{profile_form.instagram_url.label}}
            {{profile_form.instagram_url}}
          </div>
          <div class="form-group">
            {{profile_form.linkedin_url.label}}
            {{profile_form.linkedin_url}}
          </div>
          {% comment %} {{profile_form.as_p}} {% endcomment %}
    <div class="form-group">
      <div class="modal-footer">
            <button type="submit" class="button1">Save changes</button>
        </form>
        <a href="{% url 'profile' %}"><button type="button" class="button2" data-dismiss="modal">Close</button></a>
      </div>
    </div>
</div> 
{% endblock body %}
