{%extends 'base.html'%}

{% block body %}
{%for i in posts %}
          <div class="row">
            <div class="col-md-5" >
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">{{i.title}}  -  {{i.username}} <small class="text-muted" style="margin-left:40%">{{i.date}}</small> </p>
                  <img class ="card-img-top" height="200px" alt="" src="{{i.image.url}}">
                  <p class="card-text">{{i.body}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success"><a href = "{% url 'update_post' i.id %}">Edit</a></button>
                      <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-info">
                        <a href = "{% url 'postdetail' i.id %}">Readmore</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%endfor%}
        <footer class="text-muted">
          <div class="container">
            <p class="float-right">
              <a href="#">Back to top</a>
            </p>
          </div>
        </footer>
    
{% endblock body %}
