{%extends 'base.html'%}
{%block title%}blogs{%endblock title%}
{% block body %}
{%for i in posts %}
          <div class="row">
            <div class="col-md-5" >
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">{{i.title}}  -  {{i.username}} <small class="text-muted" style="margin-left:50%">{{i.date}}</small> </p>
                  {% if i.image %}
                  <img class ="card-img-top" height="250px" src="{{i.image.url}}">
                  {% endif %}
                  <p class="card-text">{{i.body | safe}}</p>
                    <div class="btn-group">
                      <a href = "{% url 'postdetail' i.id %}"><button type="button" class="btn btn-outline-info">
                        Readmore</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%endfor%}
        <footer class="text-muted">
          <div class="container">
            <p class="float-right">
              <a href="#">Back to top</a>
            </p>
          </div>
        </footer>
    
{% endblock body %}
