{%extends 'base.html'%}
{%block title%}Readmore{%endblock title%}
{% block body %}
<div style="margin-left:1%">
    <h1>{{post.title}}</h1>
    <small>By {{post.username}} </small>
    <hr>
    <br>
    {% comment %} {%for i in posts %} {% endcomment %}
    <img height="400px" alt="" src="{{post.image.url}}">
    <br>
    <br>
    {% comment %} {%endfor%} {% endcomment %}
    {{post.body | safe}}
    
</div>

<br>
<br>
<div style="margin-left:1%">
    <a href="{% url 'home' %}"><button class="btn btn-outline-info" type="Back">Back</button></a>
</div>
{% endblock body %}