

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.col-md-5{
    padding-top: 10px;
    padding-left: 40px;
}
.card{
    border-radius: 18.25;
}

body {
    background-color: rgb(208, 224, 238);
}